body{
    background-color: orange;
}
h1{
    background-color: black;
    color: pink;
}
h2{
    background-color: black;
    color: violet;
}
h3{
    background-color: aqua;
    color: red;
}
p{
    width: 300px;
    background-color: greenyellow;
    color: black;
}